.timeline {
	background: #e7ebf2;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif !important;
	position: relative;
	margin: 0px auto;
	padding: 0px;
	width: 100%;
}

.timeline a.timeline_spine {
	border-left: 2px solid #c3ccdf;
	border-right: 2px solid #c3ccdf;
	display: block;
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0px;
}

.timeline .section {
	clear: both;
	margin: 0px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
	overflow: hidden;
	position: relative;
	z-index: 99;
}

.timeline .section:only-child, .timeline .section:last-child {
	padding-bottom: 20px;
}

.timeline .section .title {
	display: block;
	margin: 0px auto 20px auto;
	width: auto;
	text-align: center;
}

.timeline .section .title a {
	background: #93a0c3;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ffffff;
	display: inline-block;
	font-size: 13px;
	padding: 4px 20px 5px 20px;
	text-decoration: none;
}

.timeline .section .title a:hover {
	background: #697cac;
	text-decoration: none;
}

.timeline .section ol.events {
	clear: both;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.timeline .section ol.events li.event {
	margin: 0px 0px 20px 0px;
	padding: 0px;
	position: relative;
	width: 50%;
}

.timeline .section ol.events li.event:nth-child(1n+2), .timeline .section ol.events li.event:first-child {
	clear: left;
	float: left;
}

.timeline .section ol.events li.event:nth-child(2n+2) {
	clear: right;
	float: right;
}

.timeline .section ol.events li.event.featured {
	clear: both;
	float: none;
	padding: 20px 0px 0px 0px;
	width: 100%;
}

.timeline .section ol.events li.event .event_container {
	background: #ffffff;
	border-color: #C4CDE0;
	border-style: solid;
	border-width: 1px 1px 2px 1px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 5px;
	overflow: hidden;
	width: 80%;
}

.timeline .section ol.events li.event .event_container p {
	font-size: 13px;
	line-height: 14px;
	margin: 0px 0px 15px 0px;
}

.timeline .section ol.events li.event .event_container p:only-child,
.timeline .section ol.events li.event .event_container p:last-child {
	margin-bottom: 0px;
}

.timeline .section ol.events li.event .event_container a {
	color: #3b5998;
}

.timeline .section ol.events li.event .event_container .event_title {
	padding: 10px;
	overflow: hidden;
}

.timeline .section ol.events li.event .event_container .event_content {
	clear: both;
	padding: 0px 10px 10px 10px;
}

.timeline .section ol.events li.event .event_container .event_title .profile_image {
	border: 0px;
	float: left;
	margin-right: 10px;
}

.timeline .section ol.events li.event .event_container .event_title span.subtitle {
	color: #808080;
	display: block;
	font-size: 11px;
	line-height: 12px;
	margin: 0px 0px 0px 0px;
	width: auto;
}

.timeline .section ol.events li.event .event_container .event_title h3 {
	font-size: 14px;
	line-height: 15px;
	margin: 0px 0px 2px 0px;
	text-transform: none;
	display: inline;
}

.timeline .section ol.events li.event.wp .event_container .event_title h3 {
	margin-top: 0px;
}

.timeline .section ol.events li.event .event_pointer {
	background: transparent url(../images/box_pointer.png) no-repeat;
	display: block;
	height: 15px;
	position: absolute;
	top: 20px;
	width: 18px;
	z-index: 99;
}

/* Left Column */ 
.timeline .section ol.events li.event:nth-child(1n+2) .event_container,
.timeline .section ol.events li.event:first-child .event_container {
	float: right;
	margin-right: 12px;
}

.timeline .section ol.events li.event:nth-child(1n+2) .event_pointer,
.timeline .section ol.events li.event:first-child .event_pointer {
	background-position: 0px 0px;
	right: -5px;
}

/* Right Column */
.timeline .section ol.events li.event:nth-child(2n+2) .event_container {
	float: left;
	margin-left: 17px;
}

.timeline .section ol.events li.event:nth-child(2n+2) .event_pointer {
	background-position: 0px -15px;
	left: 0px;
}

/* Featured Event */
.timeline .section ol.events li.event.featured .event_container {
	float: none;
	margin: 0px 64px 35px 65px;
	width: auto;
}

.timeline .section ol.events li.event.featured .event_pointer {
	background-position: 0px -52px;
	height: 22px;
	left: 1px;
	margin: 0px auto;
	top: -1px;
}

.timeline .section ol.events li.event.featured .event_container p {
	text-align: center;
}

.timeline .section ol.events li.event.featured .event_container .event_title {
	padding: 20px 20px 30px 20px;
	text-align: center;
}

.timeline .section ol.events li.event.featured .event_container .event_title h3 {
	font-size: 18px;
	font-weight: 800;
}

.timeline .section ol.events li.event.featured .event_container .event_content {
	padding: 0px 20px 30px 20px;
}

.timeline ol.timeline_nav {
	position: absolute;
	list-style: none;
	right: 0px;
	top: 45px;
	z-index: 99;
}

.timeline ol.timeline_nav li {
	border-left: 5px solid #c7d0e3;
	padding: 5px 0px 5px 7px;
	margin: 0px 0px 10px 0px;
	width: auto;
}

.timeline ol.timeline_nav li.current {
	border-left: 4px solid #6179af;
}

.timeline ol.timeline_nav li:only-child, .timeline ol.timeline_nav li:last-child {
	margin-bottom: 0px;
}

.timeline ol.timeline_nav li a {
	color: #c7d0e3;
	font-size: 11px;
	text-decoration: none;
}

.timeline ol.timeline_nav li a:hover {
	text-decoration: none;
}

.timeline ol.timeline_nav li.current a {
	color: #6179af;
	font-weight: 600;
}
